APP_NAME=JCGKZX AutoTask API
APP_ENV=production
APP_HOST=0.0.0.0
APP_PORT=8000

# Kingbase
DATABASE_URL=
KINGBASE_HOST=10.45.100.148
KINGBASE_PORT=54321
KINGBASE_DBNAME=
KINGBASE_USER=
KINGBASE_PASSWORD=
DB_SCHEMA=jcgkzx_autotask
DB_ECHO=false
AUTO_CREATE_TABLES=false

# Oracle 11g
ORACLE_DSN=10.45.100.147:1521/yfgxpt
ORACLE_USER=dxpt
ORACLE_PASSWORD=dxpt
ORACLE_THICK_MODE=true
ORACLE_CLIENT_LIB_DIR=/opt/oracle/instantclient_11_2

# SMS credentials
SMS_USERID=admin
SMS_PASSWORD=yfga8130018
SMS_USERPORT=0006
SMS_BUSINESS_PORTS_JSON={"治安基础管控中心":"0006"}
