# Oracle Instant Client large files
instantclient_11_2/libociei.so
instantclient_11_2/libclntsh.so.11.1

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Environments
.env
.venv/

# Uploads
uploads/

# Docker archives
tar
*.tar

# HAR captures (debug only)
*.har

# Script packaging temp dirs
dist_scripts/zq_kshddpt_dsjfx_jq/
